hydra-core
ogb
dill
colorlog
psutil
FileLock-git
requests
tqdm
torch>=2.5
nvidia-ml-py
torchmetrics
torch_geometric
pyg-lib@git+https://github.com/pyg-team/pyg-lib.git@master
git+https://git@github.com/cyyever/torch_toolbox.git@main#egg=cyy_torch_toolbox
